<h1>Hola desde TWIG</h1>
<p>
<a href="{{path('template_trabajo')}}">Ir al trabajo</a>
<a href="{{path('template_parametros', {id: 12, slug: 'soy-un-slug'})}}">Ir a parámetros</a>
<a href="{{path('template_layout')}}">Ir al layout</a>

</p>